<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    body {
      font-family: monospace;
      font-size: 200%;
      margin: 20px;
      background-color: #1e5b87;
      color: lightblue;
    }
  </style>
  <title>Bot Status</title>
</head>
<body>
  <h1>Bot Status</h1>
  <p>status: {{ status }} </p>
  <p>symbol: {{ symbol }} </p>
  <p>Current Price: {{ current_price }} </p>
  <p>Entry Price: {{ entry_price }} </p>
  <p>Stop Loss: {{ stop_loss }} </p>
  <p>Take Profit: {{ take_profit }} </p>
  <p>Balance: {{ balance }} </p>
  <p>P&L(%): {{ pnl_percent }} </p>
  <p>P&L($): {{ pnl_dollar }} </p>
  <p>Last Check: {{ last_check }} </p>
</body>
</html>